pipeline/PL_run ingestion.json
{
	"name": "PL_run ingestion",
	"properties": {
		"description": "Ingest Webstore online sales data into the data lake",
		"activities": [
			{
				"name": "Get source to target details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetSourceToTargetInfo]",
						"storedProcedureParameters": {
							"Dataset": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							},
							"SourceSystemCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								}
							},
							"Stage": {
								"type": "String",
								"value": {
									"value": "@variables('v_stage')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_asql_sourcetotarget_details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Source to Target Info",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get source to target details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get source to target details').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy webstore online sales data_copy1",
							"description": "Copy online sales data from the webstore in blob and ingest to the data lake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_abls_buyalot_files_copy",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().SourceContainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@item().SourceRelativePathSchema",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().SourceTechnicalName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_de_json_folders_json",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().TargetContainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(item().TargetRelativePathSchema,'/',formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-DD'))",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item().TargetTechnicalName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set success status_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy webstore online sales data_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_status",
								"value": "Success"
							}
						},
						{
							"name": "Set failed status_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy webstore online sales data_copy1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_status",
								"value": "Failed"
							}
						},
						{
							"name": "Log Pipeline Metadata Success_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set success status_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_util_log_pipeline_metadata",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"snapshotDate": {
										"value": "@pipeline().parameters.snapshotDate",
										"type": "Expression"
									},
									"status": {
										"value": "@variables('v_status')",
										"type": "Expression"
									},
									"runID": {
										"value": "@pipeline().parameters.runID",
										"type": "Expression"
									},
									"sourceToTargetID": {
										"value": "@item().SourceToTargetID",
										"type": "Expression"
									},
									"pipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"pipelineID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"systemCode": {
										"value": "@pipeline().parameters.systemCode",
										"type": "Expression"
									},
									"datasetName": {
										"value": "@pipeline().parameters.datasetName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Pipeline Metadata Failed_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set failed status_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_util_log_pipeline_metadata",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"snapshotDate": {
										"value": "@pipeline().parameters.snapshotDate",
										"type": "Expression"
									},
									"status": {
										"value": "@variables('v_status')",
										"type": "Expression"
									},
									"runID": {
										"value": "@pipeline().parameters.runID",
										"type": "Expression"
									},
									"sourceToTargetID": {
										"value": "@item().SourceToTargetID",
										"type": "Expression"
									},
									"pipelineTriggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"pipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"pipelineID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"systemCode": {
										"value": "@pipeline().parameters.systemCode",
										"type": "Expression"
									},
									"datasetName": {
										"value": "@pipeline().parameters.datasetName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"systemCode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"datasetName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"runID": {
				"type": "string",
				"defaultValue": "1"
			},
			"snapshotDate": {
				"type": "string",
				"defaultValue": "2023-01-20"
			}
		},
		"variables": {
			"v_status": {
				"type": "String",
				"defaultValue": "Success"
			},
			"v_stage": {
				"type": "String",
				"defaultValue": "SOURCE_TO_RAW"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-01-21T06:07:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}