pipeline/PL_util_send_email_notifications.json
{
	"name": "PL_util_send_email_notifications",
	"properties": {
		"description": "This is a utility pipeline that sends email notifications",
		"activities": [
			{
				"name": "Get Email Addresses",
				"description": "Gets the Email Recipients for a specific system code and dataset name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetEmailAddresses]",
						"storedProcedureParameters": {
							"DatasetName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							},
							"SystemCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_asql_email_addresses",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Email Address",
				"description": "Send a message to each email address",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Email Addresses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Email Addresses').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Send Email",
							"description": "Send Email notification",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod2-22.centralindia.logic.azure.com:443/workflows/a6880071053d4df69fb07ee6328bbc90/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HzNh-lZ3Zw25uxnLVlyIu_zs_y2MMJLCDmFPg6OOnIY",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@json(concat('{\n\"emailAddress\": \"',item().emailAddress,'\",\n\"subject\": \"',pipeline().parameters.subject, '\",\n\"messagebody\": \"',pipeline().parameters.message, '\"\n}'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"systemCode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"datasetName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"subject": {
				"type": "string"
			},
			"message": {
				"type": "string"
			}
		},
		"folder": {
			"name": "utility"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-21T03:42:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}